<%- include('../_partial/_header'); -%>
<div>
<h1>Green Team Members</h1>

<h3 style = "color :white">Jared Long : Scrum Master <br> David Sowers : Developer <br> Adam Smith : Developer <br> Jon Crocker : Developer <br> Alec Swanson : Developer <br> Mohammed Aljak : Developer</h3>
<h3 style = "color :white"> Any Concerns or Request please feel free to email us at Olafs.GreenteamBookstore@ctu.com</h3>
<br>
<br>
<h3>Node Programming</h3>
<p style = "font-weight:bold" "text-overflow: clip;"><br> Node. js (Node) is an open source development platform for executing JavaScript code server-side. Node is useful for developing applications that require a persistent connection from the browser to the server and is often used for real-time applications such as chat, news feeds and web push notifications.
    One of the major advantages of Node.js, according to its creator Ryan Dahl, is that it does not block input/output (I/O). Some developers are highly critical of Node.js and point out that if a single process requires a significant number of CPU cycles, the application will block and that the blocking can crash the application. Proponents of the Node.js model claim that CPU processing time is less of a concern because of the high number of small processes that Node code is based on.</p>

</div>

<%- include ('../_partial/_footer'); -%>