<%- include('../_partial/_header'); -%>

<h1>Welcome to the Olaf's Rare Bookstore</h1>
<br>
<img src="https://i.pinimg.com/originals/6d/67/33/6d67336ab6b14ffdb45538016b9d50e8.jpg" width="1068" height="700">

<%- include ('../_partial/_footer'); -%>